
.wrapper{
    border-right: solid;
    width: 300px;
    position: fixed;
    z-index: 9999;
    height: 100vh;
}
.menu{
    width: auto;
    height: auto;
}
.logout{
    margin-top: 20px;
    border-top: rgba(22, 24, 35, 0.3) solid ;
    padding-top: 10px;
}


.logo {
    display: flex;
    justify-content: center;
    min-width: 60px;
    border-radius: 6px;
    font-size: 80px;
    margin: 10px 32px;
}
.dropdown-btn {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}