.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    padding: 20px;

}

.loginBox {
 width: 700px;
  height:800px;
  padding: 20px;
  border-radius: 16px;
  background: linear-gradient(131deg, #0f1118 30%, #0b4d8c 90%); /* màu gradient như bạn gửi */
 
}
.loginTitle {
    text-align: center;
    margin-bottom: 100px;
    color: white;
}
///////////////////////////////////////////////

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;

}
.Form{
    display: flex;
  flex-direction: column;
    gap: 2.7rem;
    
}

.loginButton {
    width: 200px;
    padding: 20px;
    background-color: #646cff;
    color: white;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin-top:30px;
    transition: background-color 0.3s;
}

.loginButton:hover {
    background-color: #535bf2;
}
.loginButton:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
.errorMessage {
    color: #ff3333;
    background-color: #ffeeee;
    padding: 0.75rem;
    border-radius: 4px;
    margin-bottom: 1rem;
    text-align: center;
}
.input {
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    width: 450px;
    height: 50px;
}
.show {
    margin-top: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 450px;
    height: 50px;
    position: relative;
}
.icon-show {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #555;
}
.wrapper{
    width: 100%;
    height: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;

    
}
.image{
    width: auto;
    height: 100px;
}
