.wrapper {
    height: 220px;
    display: flex;
    background-image: url('../../../../asset/img/12.jpg');
    background-size: 100% 100%;
}
.iner1 {
    margin-right: 5rem;
    width: 500px;
    color: white;
}
.iner2 {
    margin-right: 1rem;
    width: 230px;
    color: white;
}
