
/* Dashboard.css */
.chart-container {
    padding-left: 20px; /* Thêm padding trái cho biểu đồ */
    padding-top: 20px; /* Thêm padding phải (nếu cần) */
    display: flex;
    justify-content: center;
    align-items: center;
}
