.item {
    width: 278px;
    height: 60px;
    margin-top: 10px;
    margin-left: 10px;

}

.list {
    display: flex;
    align-items: center;
    color: black;
    font-weight: 700;
    padding: 20px;
    // transition: background-color ease-in-out 200ms;
    text-decoration: none;
    font-size: 20px;

    &.active {
        color: var(--primary);
        border-radius: 10px;
    }
    &:hover {
        background-color: rgba(22, 24, 35, 0.1);
        border-radius: 10px;
    }
}
.icon {
   
    font-size: 16px;
    text-align: end;
    align-items: end;
    display: flex;
    justify-content: end;
    margin-left: auto
    
}
.title {
    margin-right: 0px;
}
.className {
    font-size: 19px;
    padding-left: 40px;
}
.top {
    margin-top: 4px;
}
